# db credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=openspace_db

# ports
BACKEND_PORT=8000
DASHBOARD_PORT=3000
DB_PORT=5433

# connection string
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}